<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <h2>Hi, {{requestTo}}</h2>
            <p>A new society <b>{{societyName}}</b> is awaiting your approval.</p>
            <p>Kindly choose an action below:</p>
            <a class="button accept" href="{{acceptUrl}}" target="_blank">Accept</a>
            <a class="button reject" href="{{rejectUrl}}" target="_blank">Reject</a>
        </div>
    </body>
</html>



